/* Colors */
:root {
  --dark: rgb(95, 95, 95);
  --blue: rgb(36, 32, 135);
  --red: rgb(240, 80, 15);
  --pink: #e60064;
  --green: #3ce197;
}

/* Colors */
.dark {
  color: var(--dark);
  fill: var(--dark);
  border-color: var(--dark);
}

.white {
  color: white;
  fill: white;
  border-color: white;
}

.blue {
  color: var(--blue);
  fill: var(--blue);
  border-color: var(--blue);
}

/* Backgrounds */
.gradientBackground {
  background: var(--red);
  background: linear-gradient(180deg, rgba(240, 80, 15, 1) 30%, rgba(230, 0, 100, 1) 100%);
}
