/* Effects */
.noFlickr {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.animated {
  transition: 0.35s ease;
}

.shadow {
  box-shadow: 1.5rem 2.5rem 5rem 0.7rem rgba(0, 0, 0, 0.13);
}

.scale:hover {
  transform: scale(1.05);
}

.scaleWeak:hover {
  transform: scale(1.02);
}

.scaleWeakest:hover {
  transform: scale(1.015);
}

.darkHover:hover {
  color: var(--dark);
  fill: var(--dark);
  border-color: var(--dark);
}

.goldHover:hover {
  color: var(--gold);
  fill: var(--gold);
  border-color: var(--gold);
}

.gradientHover:hover {
  color: var(--red);
  color: linear-gradient(180deg, rgba(240, 35, 45, 1) 30%, rgba(230, 0, 100, 1) 100%);
}

.darkBackground:hover {
  background: var(--dark);
}

/* Animations */
@-webkit-keyframes scrolling {
  0% {
    -webkit-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    transform: translateY(-200%);
  }
  50% {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }
}
@keyframes scrolling {
  0% {
    -webkit-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    transform: translateY(-200%);
  }
  50% {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }
}
