body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow: hidden;
}

a[title]:hover:after {
  content: attr(title);

  position: absolute;
  top: calc(100% + 0.5rem);

  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #fcfcfd;
  background-color: rgb(95, 95, 95);

  font-family: Roboto, serif;
  font-size: 1rem;
  font-weight: bold;

  border-radius: 0.25rem;
}
