body {
  margin: 0;
  font-size: 14px;
  font-family: 'Roboto';
  background: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --dark: rgb(95, 95, 95);
  --light: rgb(176, 176, 176);
  --gold: rgb(154, 129, 103);
}

/* Utility */
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

/* Fonts */
.mono {
  font-family: 'Roboto Mono';
}

/* Colors */
.white {
  color: white;
  fill: white;
  border-color: white;
}

.dark {
  color: var(--dark);
  fill: var(--dark);
  border-color: var(--dark);
}

/* Effects */
.animated {
  transition: 0.35s ease;
}

.scale:hover {
  transform: scale(1.05);
}

.scaleWeak:hover {
  transform: scale(1.02);
}

.whiteHover:hover {
  color: white;
  border-color: white;
}

.darkHover:hover {
  color: var(--dark);
  border-color: var(--dark);
}

.goldHover:hover {
  color: var(--gold);
  fill: var(--gold);
  border-color: var(--gold);
}

.goldBackground:hover {
  background: var(--gold);
}

/* Components */
button:focus {
  outline: 0;
}

::-webkit-scrollbar-track {
  background-color: var(--light);
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--dark);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--dark);
}
