/* Styles */
body {
  margin: 0;
  font-size: 14px;
  font-family: 'Montserrat';
  background: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}

/* Modifier */
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

/* Utility */
.noScrolling {
  overflow: hidden;
}

.cursor {
  cursor: pointer;
}

/* Fonts */
.mont {
  font-family: 'Montserrat';
}

.muli {
  font-family: 'Muli';
}
